/* OBS: inte min kod. Hade såklart kunna göra en simplare egen variant, men tycker denna är så häftig så valde att modifiera och använde. All credit goes to... someone else */

.container {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
}

.container .loader {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.container .loader:nth-child(2),
.container .loader:nth-child(4) {
  animation-delay: -1s;
  filter: hue-rotate(290deg);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container .loader:nth-child(1)::before,
.container .loader:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, var(--color-brand-primary));
  opacity: 0.5;
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.container .loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: var(--color-brand-primary);
  /* background: rgb(114, 28, 213); */
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 0 10px var(--color-brand-primary),
    0 0 20px var(--color-brand-primary), 0 0 30px var(--color-brand-primary),
    0 0 40px var(--color-brand-primary), 0 0 50px var(--color-brand-primary),
    0 0 60px var(--color-brand-primary), 0 0 70px var(--color-brand-primary),
    0 0 80px var(--color-brand-primary), 0 0 90px var(--color-brand-primary),
    0 0 100px var(--color-brand-primary);
}

.container .loader span {
  position: absolute;
  inset: 20px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
}
