.btn {
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.search-btn,
.quickadd-btn {
}

.primary-btn,
.secondary-btn {
  padding: 0.5rem 1rem;
}
.btn:hover {
  opacity: 0.75;
}
