.info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
}
.info-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 20px;
  aspect-ratio: 1;
  font-size: 0.75rem;
  border-radius: 50%;
  border: 1px dotted rgba(255, 255, 255, 0.22);
  text-align: center;
  cursor: pointer;
  position: absolute;
  /* right: -24px; */
  .emoji {
    font-size: 1.5rem;
  }
  & h4 {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    text-align: center;
  }
}

.infotext-box {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  width: 200px;
  font-size: 0.675rem;
  position: absolute;
  top: 100%;
  /* margin-left: 20px; */
  padding: 1rem 0.75rem 2rem;
  color: var(--color-light);
  background-color: var(--color-dark-500);
  text-align: left;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  z-index: 999;
  border-radius: var(--radius);
  @media (max-width: 768px) {
    /* left: -3000px; overridden by inline style in component */
  }
}

.info-circle:hover .infotext-box {
  visibility: visible; /* Show on hover */
  opacity: 1; /* Full opacity */
  transition-delay: 0s;
}
