/* UserNutrientListColumn COMPONENT */
.user-list-column {
  position: relative;
  background-color: var(--color-dark-700);
  border-radius: var(--radius);
  color: var(--color-dark-300);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  /* Tar bort scrollbars, UI cleanare :) UX sämre :( */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    height: 40vh;
    /* flex-direction: row; */
    /* align-items: flex-start; */
  }
}
.user-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-wrap: wrap;
  /* adjust PB */
  padding-bottom: 3rem;

  .empty-text {
    text-align: center;
    width: 100%;
    margin-top: 5rem;
  }

  @media (max-width: 768px) {
    flex-direction: row;
    /* justify-content: center; */
  }
}

.total-carbs-box {
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 2rem;
  border-radius: var(--radius);
  border-top: 1px solid var(--color-dark-300);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  & h2 {
    color: var(--color-brand-secondary);
  }
  .reset-list-btn {
    position: absolute;
    top: -40px;
    left: 20%;
    right: 20%;
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
    font-size: 0.75rem;
    background-color: var(--color-dark-700);
    transition: all 0.2s;

    &:hover {
      border-color: var(--color-light);
      color: var(--color-light);
    }
  }

  & div:has(.reset-list-btn) {
    transition: all 0.5s;
  }
}

.highlight {
  animation: highlight 1s;
}

@keyframes highlight {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}
