.main-header {
  color: var(--color-light);
  grid-area: head;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  background-color: var(--color-light);
  padding-inline: clamp(0.3125rem, 0.0284rem + 1.2121vw, 0.9375rem);

  color: black;
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .main-nav__list {
    display: flex;
    list-style: none;

    & > li:not(:last-child) {
      margin-right: 4rem;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main-nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & h1,
  span {
    font-size: var(--step-4);
    line-height: 0.75;
    font-family: var(--font-brand);
    text-transform: uppercase;
    /* letter-spacing: 1px; */
  }
  & span {
    color: var(--color-brand-primary);
  }
  & p {
    font-size: var(--step--2);
    padding-left: 4px;
    /* text-transform: uppercase; */
    letter-spacing: 0.5px;
    @media (max-width: 768px) {
      text-align: center;
      padding-left: 0;
      display: none;
    }
  }
  & img {
    width: 90px;
    @media (max-width: 768px) {
      width: 60px;
    }
  }
}
