.main-header {
  color: var(--color-light);
  grid-area: head;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  background-color: white;
  color: black;
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .main-nav__list {
    display: flex;
    list-style: none;

    & > li:not(:last-child) {
      margin-right: 4rem;
    }
  }
}

.main-nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & h1 {
    font-size: 2.5rem;
    line-height: 0.75;
    font-family: "Chubbo", sans-serif;
    text-transform: uppercase;
  }
  & p {
    font-size: 0.875rem;
    padding-left: 4px;
  }
}
