.user-list-item {
  font-size: var(--step--1);
  text-transform: capitalize;
  border-bottom: 0.5px solid rgb(38, 37, 37);
  padding: 0.75rem 0.5rem;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid var(--color-light); */
  @media (max-width: 768px) {
    flex-basis: 49%;
  }
  @media (max-width: 468px) {
    flex-basis: 100%;
  }

  & h3 span {
    font-size: var(--step--2);
  }
  .item-carbs {
    font-size: var(--step-0);
    font-weight: bold;
    color: var(--color-brand-secondary);
  }
  .delete-btn {
    background-color: transparent;
    color: var(--color-dark-300);
    font-size: 1rem;
    &:hover {
      color: var(--color-light);
    }
  }
}
