:root {
  --color-dark: #494946;
  --color-light: #dededa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  width: 90%;
  max-width: 11 00px;
  margin-inline: auto;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "head head"
    "aside aside"
    "main main"
    "foot foot";
  grid-template-rows: 50px 20px 1fr 100px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
