:root {
  --color-dark: #494946;
  --color-light: #dededa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  max-width: 700px;
  margin-inline: auto;
}

/* Header Styles */

.main-header {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  .main-list {
    display: flex;
    list-style: none;
  }
}
