:root {
  --color-dark: #494946;
  --color-light: #dededa;
  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "head head"
    "aside aside"
    "main main"
    "foot foot";
  grid-template-rows: 100px 20px 1fr 100px;
}
ul {
  list-style: none;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

/* Component = SearchResultsList */
.search-results-box {
  background-color: #c5c5c2;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  border: none;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: var(--radius);
  width: 75%;
  transition: box-shadow 0.2s, transform 0.2s;
  color: green;
  background-color: rgb(222, 205, 205);
}

.search::placeholder {
  color: gray;
}

.btn {
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}
.btn:hover {
  opacity: 0.75;
}

.form-buttons {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.form-buttons > * {
  /* transform: translateY(-3px); */
  transition: all 0.2s ease-in-out;
}
.search:focus {
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-6px);
}

.search:focus + .form-buttons > * {
  transform: translateY(5px);
  margin-inline: 0.5rem;
}
.info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.info-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 0.75rem;
  border-radius: 50%;
  border: 1px dotted white;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.infotext-box {
  display: none;
  position: absolute;
  width: 200px;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  padding: 10px;
  color: black;
  font-size: 0.675rem;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-circle:hover .infotext-box {
  display: block;
}

.slide-up {
  background-color: rgb(47, 41, 42);
  height: 300px;
  width: 200px;
  position: fixed;
  bottom: -300px;
  left: 50px;
  right: 0;
  transition: bottom 0.5s ease-in-out;
}

.visible {
  bottom: 0px;
}
